/* Inherit fonts for inputs and buttons */
input, button
{
    font: inherit;
}

/* ----- General properties ----- */
body
{
    font-family: Raleway, sans-serif;
    background: white;
    margin: 0;
}

a
{
    text-decoration: none;
    color: inherit;
}

ul
{
    list-style-type: none;
}
/* ----- Header et nav ----- */
#inscription
{
    color: #0065FC;
    font-weight: bold;
}

/* Pour que nav ne cache pas le titre quand on clique sur les ancres*/
#hebergements
{
    scroll-margin-top: 1em;
}

#activites
{
    scroll-margin-top: 2.5em;
}

/* ----- Champ de recherche & filtres -----*/
#search-field
{
    margin-bottom: 2em;
}

/* ----- Barre de recherche */
#search-bar label
{
    visibility: hidden;
    display: none;
}

#search-bar
{
    display: flex;
}

#search-bar input
{
    border: solid 1px #F2F2F2;
    border-right: none;
    font-weight: bolder;
    padding-left: 1em;
}

#search-bar .fas
{
    width: 3.1em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-gps
{
    background: #F2F2F2;
    border-radius: 12px 0 0 12px;
}

#search-bar button
{
    color: white;
    background: #0065FC;
    border: none;
    border-radius: 12px;
    padding: 0;
}

/* ----- Barre de recherche */
#filter-block
{
    display: flex;
    flex-wrap: wrap;
}

/* ----- Filtres */
.filter-button
{
    background: white;
    border: solid 2px #F2F2F2;
    border-left: none;
    border-radius: 25px;
    padding: 0 0.7em 0 0;
    margin: 0.5em 0.3em;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.filter-button i
{
    background: #DEEBFF;
    color: #0065FC;
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    /* Marges négatives dépasser sur la bordure*/
    margin: -2px 0.4em -2px -2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-button:hover
{
    background: #DEEBFF;
    border: solid 2px #DEEBFF;
}

/* ----- infos logements */
#info-logements
{
    display: flex;
}
#info-logements i
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.7em;
    width: 1.9em;
    color: #0065FC;
    background: white;
    border: solid 1px #DEEBFF;
    border-radius: 100%;
    margin-right: 0.8em;
}

/* ----- Main ----- */
main
{
    display: flex;
    flex-flow: column wrap;
}

#populaires .section-title
{
    display: flex;
    justify-content: space-between;
}

.section-title i
{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----- Cartes */
.card
{
    display: flex;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 17px -4px #999999;
}

.card img
{
    object-fit: cover;
    padding: 0.3em 0.7em 0.3em 0.3em;
    border-radius: 20px 0 0 20px;
}

.card-content
{
    display: flex;
    flex-direction: column;
    padding: 0.8em 0 0.5em 0.5em;
}

.card p
{
    margin: 0;
}

.card h3
{
    margin: 0 0 0.2em 0;
}

.score
{
    display: flex;
    margin-bottom: 00.3em;
}

.star-full
{
    color: #0065FC;
}

.star-empty
{
    color: #F2F2F2;
}

/* Populaires */
#populaires .card
{
    height: 8.5em;
}

#populaires img
{
    width:35%;
}

#populaires .score
{
    margin-top: auto;
}

/* Hébergements */
#hebergements .card
{
    flex-direction: column;
    height: 12em;
}

#hebergements img
{
    height: 55%;
    width: auto;
    padding: 0.3em 0.3em .5em 0.3em;
    border-radius: 20px 20px 0 0;
}

#hebergements .card-content
{
    padding: 0 0 0 1em;
}

#hebergements .score
{
    margin-top: 0.3em;
}

/* Activités */
#activites .card
{
    flex-direction: column;
    height: 11em;
}

#activites img
{
    height: 70%;
    width: auto;
    padding: 0;
    border-radius: 20px 20px 0 0;
}

#activites h3
{
    padding-left: 0.8em;
    padding-top: 0.8em;


}

/* ----- Champ de recherche & filtres -----*/
footer
{
    background: #F2F2F2;
    padding-top: 1em;
    padding-bottom: 2em;
    margin-bottom: 0;
}

footer p
{
    margin-bottom: 0;
}

/* ---- Affichage mobile ---- */
@media screen and (max-width: 767px)
{
    /* Header and nav */
    header
    {
        display: flex;
        justify-content: space-between;
    }

    #logo-title
    {
        margin-top: 0.3em;
        margin-bottom: 0.02em;
    }
    #logo-title a
    {
        padding-left: 5vw;
    }

    #inscription
    {
        text-align: center;
        padding-right: 5vw;
        padding-top: 1.8em;

    }

    nav
    {
        /*On fixe le nav en haut de l'écran*/
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background: white;
        z-index: 9;
    }

    nav ul
    {
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 0;
    }

    nav li
    {
        flex: 1;
        text-align: center;
    }

    nav a
    {
        padding-bottom: 1em;
        padding-top: 1em;
        border-bottom: solid 4px #F2F2F2;
        display: block;
    }

    nav a:active
    {
        border-bottom: solid 4px #0065FC;
        font-weight: bold;
        color: #0065FC;
    }

    /* Champ de recherche et filtres */
    #search-field
    {
        margin-right: 5vw;
        margin-left: 5vw;
    }
    #search-field h2
    {
        text-align: left;
        margin-bottom: 0;
    }
    #search-field p
    {
        margin-top: 0.5em;
    }

    #search-bar
    {
        width: 100%;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    #search-bar input
    {
        flex: 1;
    }

    #filter-block
    {
        margin-bottom: 1.5em;
    }

    /* ----- Main ----- */
    main
    {
        margin-bottom: 2em;
    }

    #populaires
    {
        background: #F2F2F2;
    }

    section
    {
        padding: 1.5em 5vw 1.5em 5vw;
    }

    #activites
    {
        padding-top: 0;
    }

    /* ----- Cartes */
    .card
    {
        margin: 1em 0;
    }

    footer
    {
        padding-left: 5vw;
        padding-right: 5vw;
    }

}

/* ---- Affichage Tablette ---- */
@media screen and (min-width: 768px) and (max-width: 1023px)
{

}

/* ---- Affichage Desktop ---- */
@media screen and (min-width: 1024px)
{
    /*Reseting mobile specific properties*/


    /*Adjusting header display*/
    header
    {
        visibility: hidden;
        height: 0;
    }

    nav::before
    {
        content: url("images/logo/Reservia.svg");
        margin-right: auto;
    }

    nav:after
    {
        content: "S'inscrire";
    }

    nav
    {
        display: flex;
    }

    nav ul
    {
        display: flex;
    }
}